<a href="https://colab.research.google.com/github/satvickyadlapalli/python/blob/main/30_03_2022_%2C_STRINGS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LENGTH OF THE LINE STRING

In [ ]:
a=' I am satvick studying in gitam university today i am having python class in ict room no 219'
print(len(a))
print(a)

92
 I an satvick studying in gitam university today i am having python class in ict room no 219

CHECKING WHEATHER THE GIVEN WORD IS IN THE LINE OR NOT

In [ ]:
a=' I am satvick studying in gitam university today i am having python class in ict room no 219 '
print('python' in a)

True

In [ ]:
a=' I am satvick studying in gitam university today i am having python class in ict room no 219'
print('218' in a)

False

IF NOT

In [ ]:
a=' I am satvick studying in gitam university today i am having python class in ict room no 219'
print('class' not in a)

False

FOR X

In [ ]:
a=' I am Satvick studying in gitam university today i am having python class in ict room no 219'
for x in 'Satvick':
    print(x)

S
a
t
v
i
c
k

*SLICING*

In [ ]:
a=' I am Satvick studying in gitam university today i am having python class in ict room no 219'
print(a[2:31],a[25:35])
print(a[:31])
print(a[31:21])

 am Satvick studying in gitam  gitam uni
 I am Satvick studying in gitam

REVERSE OF A STRING

In [ ]:
a=' I am Satvick studying in gitam university today i am having python class in ict room no 219'
reversed(a)
print(a)

 I am Satvick studying in gitam university today i am having python class in ict room no 219

modifying string

In [ ]:
a=' I am Satvick studying in gitam university today i am having python class in ict room no 219'
print(a.upper())

 I AM SATVICK STUDYING IN GITAM UNIVERSITY TODAY I AM HAVING PYTHON CLASS IN ICT ROOM NO 219

In [ ]:
a=' I am Satvick studying in Gitam university today i am having Python class in ict room no 219'
print(a.lower())

 i am satvick studying in gitam university today i am having python class in ict room no 219

In [ ]:
a=' I am Satvick studying in Gitam university today i am having Python class in ict room no 219'
print(a.upper()[0:13],a.lower()[14:76],a.upper()[77:92])

 I AM SATVICK studying in gitam university today i am having python class in ICT ROOM NO 219

REPLACING OF LETTER IN STRING

In [ ]:
a=' I am Satvick studying in Gitam university today i am having Python class in ict room no 219'
print(a.replace("Gitam","GIMSR"))

 I am Satvick studying in GIMSR university today i am having Python class in ict room no 219

ADDING TWO STRINGS

In [ ]:
a=' I am Satvick studying in Gitam university today i am having Python class in ict room no 219,'
b=' I went to RRR MOVIE .'
print(a+b)

 I am Satvick studying in Gitam university today i am having Python class in ict room no 219, I went to RRR MOVIE .

In [ ]:
#adding space between two strings
a=' I am Satvick studying in Gitam university today i am having Python class in ict room no 219,'
b=' I went to RRR MOVIE .'
print(a+" "+b)

 I am Satvick studying in Gitam university today i am having Python class in ict room no 219,  I went to RRR MOVIE .

FORMATTING STRINGS

In [ ]:
age = 18
txt = "My name is Satvick, and I am {}"
print(txt.format(age))

My name is Satvick, and I am 18

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {} dollars for {} pieces of item {}."
print(myorder.format(price,quantity,itemno))

I want to pay 49.95 dollars for 3 pieces of item 567.