<a href="https://colab.research.google.com/github/satvickyadlapalli/python/blob/main/assignment2_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Program to print a specified list after removing the 0th, 4th and 5th elements.
####Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
####Expected Output : ['Green', 'White', 'Black']

In [ ]:
def color():
 lists= ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
 lists.pop(5)
 lists.pop(4)   #value gets updated
 lists.pop(0)
 print(lists)
color()

['Green', 'White', 'Black']

## Program to get the difference between the two lists.

In [ ]:
def diff():
 li1 = [10, 15, 20, 25, 30, 35, 40]
 li2 = [25, 40, 35]
 li3 =set(li1)
 li4= set(li2)
 lu5= li3.difference(li4)
 lu6= list(lu5)
 print(lu6)
diff()

[10, 20, 30, 15]

## Program to find the second smallest number and second largest number in a list.

In [ ]:
def find_len():
	list1=[69,96,123,3215,9658,7458,85213]
	length = len(list1)
	list1.sort()
	print("Second Largest element is:", list1[length-2])
	print("Second Smallest element is:", list1[1])
find_len()

Second Largest element is: 9658
Second Smallest element is: 96

####Given a list of numbers of list, write a Python program to create a list of tuples having first element as the number and second element as the square of the number.

In [ ]:
def sq_in_list()
  list1 = [1, 6, 9, 69]
  b= len(list1)
  for i in range(0,b):
   c=list1[i]
   a=pow(c,2)
   res = (c, a)
   print(res)
sq_in_list

(1, 1)
(6, 36)
(9, 81)
(69, 4761)

###Given list of tuples, remove all the tuples with length K.
###Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
###Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
###Explanation : (4, 5) of len = 2 is removed.

In [ ]:
def len_of_tuples():
 test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]

 print("The original list : " + str(test_list))

 K = 2
 res = [ele for ele in test_list if len(ele) != K]

 print("Filtered list : " + str(res))
len_of_tuples

The original list : [(4, 5), (4,), (8, 6, 7), (1,), (3, 4, 6, 7)]
Filtered list : [(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

###Program to generate and print a dictionary that contains a number (between 1
and n) in the form (x, x*x).
Sample Input: (n=5) :
Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
def sq():
 n=int(input("Enter a number "))
 d = dict()
 for x in range(1,n+1):
    d[x]=x*x
 print(d) 
sq()

Enter a number 6
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

#### Program to remove a key from a dictionary

In [ ]:
def removing_keys():
 diction = {'a':1,'b':2,'c':3,'d':4}
 print(diction)
 if 'a' in diction: 
    del diction['d']
 print(diction)
removing_keys

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3}

######Program for Counting occurrence of a certain element in a string, getting indexes that have matching elements

In [ ]:
def strcount():
 test_str = "Violence, Violence, Violence!!!"

 count = 0

 for i in test_str:
	 if i == 'e':
		count = count + 1

   print ("Count of e in Violence, Violence, Violence!!! is : "
					   		+ str(count))
 strcount()

Count of e in Violence, Violence, Violence!!! is : 6

####Program for replacing one substring by another

In [ ]:
def string_replace():
string = "Violence, Violence, Violence!!!, I dont like, I avoidddd...."

print(string.replace("....", " ,but Violence likes me, I cant avoidddd"))

print(string.replace("....", "but Violence likes me, I cant avoidddd", 1))
string_replace()

Violence, Violence, Violence!!!, I dont like, I avoidddd ,but Violence likes me, I cant avoidddd
Violence, Violence, Violence!!!, I dont like, I avoiddddbut Violence likes me, I cant avoidddd

### Program to get the maximum and minimum value in a dictionary.

In [ ]:
def dict_max():
Movies = {'RRR':1200, 'KGF Chapter2':1500, 'Baahubali' : 1700}

res = max(Movies)

result = min(Movies)
print(res)
print(result)
dict_max()

RRR
Baahubali