<a href="https://colab.research.google.com/github/satvickyadlapalli/python/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=25
b=50
print("Prime numbers between", a, "and", b, "are:")
for num in range(a, b + 1):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

In [ ]:
a=int(input("enter the month num "))
if a==2:
  print("28/29 days")
elif a in (1,3,5,6.7,8,10,12):
  print("31 days")
elif a in (5,6,9,11):
  print("30 days")
else:
  print("wrong num entered")

enter the month num3
31 days

In [ ]:
a ="i am satvick"
b=a.split(' ')
for x in b:
  if len(x)%2==0:
     print(x)

am

In [ ]:
a ="i am satvick"
b=a.split(' ')
for x in b:
     print(x[0].upper(),x[1:7].lower())

I
A m
S atvick

In [ ]:
#write a python program to find power of number using recursion and without recursion

In [ ]:
##write a python program to sort tupples by total digits input list =[(3,4,6,723),(134,234,34)]

In [8]:
##take 5 subject marks from the user and dispay the grade if average is 90 to 100 o grade,<40 fail
eng=int(input("enter english marks "))
mat=int(input("enter maths marks "))
phy=int(input("enter physics marks "))
che=int(input("enter chemistry marks "))
python=int(input("enter python marks "))
sum=eng+mat+phy+che+python
print(sum,"/500")
avg=sum/5
print(avg,"/100")
if avg<100 and avg>90 :
  pint("O grade")
elif avg<90 and avg>80 : 
  print("A grade")
elif avg<80 and avg>70 : 
  print("B grade")
elif avg<70 and avg>60 : 
  print("C grade")  
elif avg<60 and avg>50 : 
  print("D grade")    
else:
  print("fail")

enter english marks34
enter maths marks67
enter physics marks89
enter chemistry marks54
enter python marks35
279 /500
55.8 /100
fail

In [ ]:
##write a python program that prints digit 1 if all the three given numbers are in ascending order

In [ ]:
##check given number is perfect or not

In [ ]:
#check given string is palindrone or not

In [ ]:
##find the gcd of given numbers 5,3 output is 1

In [ ]:
##print sum of even numbers in given number

In [ ]:
##calculate the sum of squares of a digit given by user

In [ ]:
##print(countfrontbackmatches)

In [ ]:
##given an integer n returns a list containing 122333444 print(thesumofnumtimes)

In [ ]:
##print no of vowels and consonants in a given string

In [ ]:
#given two integers a and b if a is less than b print in ascending order and if it is greater than b print descending order

In [ ]:
#write a pprogram to count number of string where the string len is the character are same from a given list of string

In [ ]:
#take the input from the user no of day, no of roundtrip calculate the distance coovered in m if distance is less than 40000 
#print you need to work more if more than 40000 print you did a great job

In [ ]:
#given a list of city names whose len is grater than the given len