<a href="https://colab.research.google.com/github/satvickyadlapalli/python/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
a=25
b=50
print("Prime numbers between", a, "and", b, "are:")
for num in range(a, b + 1):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

In [2]:
a=int(input("enter the month num "))
if a==2:
  print("28/29 days")
elif a in (1,3,5,6.7,8,10,12):
  print("31 days")
elif a in (5,6,9,11):
  print("30 days")
else:
  print("wrong num entered")

enter the month num3
31 days

In [1]:
a ="i am satvick"
b=a.split(' ')
for x in b:
  if len(x)%2==0:
     print(x)

am

In [9]:
a ="i am satvick"
b=a.split(' ')
for x in b:
     print(x[0].upper(),x[1:7].lower())

I
A m
S atvick